@inherits LayoutComponentBase

<div class="page">
    <div style="background-color: #212529;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: #212529;">
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
