<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ITSC</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Carrera">
                <span class="oi oi-plus" aria-hidden="true"></span> Carreras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Materias">
                <span class="oi oi-plus" aria-hidden="true"></span> Materias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Division">
                <span class="oi oi-plus" aria-hidden="true"></span> Division
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notass">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Calificaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Profesores">
                <span class="oi oi-person" aria-hidden="true"></span> Profesores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Alumno">
                <span class="oi oi-people" aria-hidden="true"></span> Datos Alumnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ReporteNotas">
                <span class="oi oi-file" aria-hidden="true"></span> Reporte
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
