@page "/Calificacion"
<PageTitle>Cakificacion</PageTitle>
<h3>Calificacion</h3>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Plan</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Desarrollo de Software</td>
                <td>2024/22</td>
                <td>01/03/2021</td>
                <td>01/03/2024</td>
                <td>
                    <a class="btn btn-primary centred" href="Ano"><i class="oi oi-book" aria-hidden="true"></i></a>
                </td>
                
            </tr>
            <tr>
                <td>Enfermeria</td>
                <td>1122/12</td>
                <td>01/03/2021</td>
                <td>01/03/2024</td>
                <td>
                    <a class="btn btn-primary centred" href=""><i class="oi oi-book" aria-hidden="true"></i></a>
                </td>

            </tr>


        </tbody>
    </table>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

