@page "/"

<PageTitle>Inicio</PageTitle>


<div style="text-align:center">

<h1 class="titulo">Instituto Técnico Superior Córdoba</h1>
 <img src="WhatsApp-Image-2024-05-27-at-22.51.18.png" alt="Logo" class="logo">
<h5 style="font-weight:bold">REPUBLICA ARGENTINA</h5>
<h5 class="texto1">Ley de educacion nacional Numero 26.206</h5
<h5 style="font-weight:bold">MINSTERIO DE EDUCACIÓN DE LA PROVINCIA DE CÓRDOBA</h5>
<h5 class="texto2">Ley de educacion provincial Numero 8113</h5>
<h5 style="font-weight:bold">DIRECCION GENERAL DE EDUCACION TECNICA Y FORMACION PROFESIONAL</h5>

</div>
