@page "/Index"
@attribute [Authorize]

@inject NavigationManager Navigation



<PageTitle>Inicio</PageTitle>


<div class="header-container">
    <img src="Logo_IT.png" alt="Logo ITSC" class="logo">
    <h1 class="title">Instituto Técnico Superior Córdoba</h1>
    <img src="logonacionit.png" alt="Logo ITSC" class="logo">
    <h5 class="subtitle-bold">REPUBLICA ARGENTINA</h5>
    <h5 class="subtitle">Ley de educación nacional N° 26.206</h5>
    <h5 class="subtitle-bold">MINISTERIO DE EDUCACIÓN DE LA PROVINCIA DE CÓRDOBA</h5>
    <h5 class="subtitle">Ley de educación provincial N° 8113</h5>
    <h5 class="subtitle-bold">DIRECCIÓN GENERAL DE EDUCACIÓN TÉCNICA Y FORMACIÓN PROFESIONAL</h5>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
}