@page "/Materia"






 
<h3 style="text-align:center">Materia</h3>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Notas</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Programacion 1</td>
                <td>1</td>
                <td>
                    <div class="nav-item"
                    <NavLink class="nav-link btn" href="Notas">
                        <Button Color="ButtonColor.Primary">Mostrar notas</Button>
                    </NavLink>
                    </div>
                </td>
                

            </tr>
            <tr>
                <td>Programacion 2</td>
                <td>2</td>

            </tr>


        </tbody>
    </table>
</div>
@code {

}
