@page "/Materia"






 
<h3 style="text-align:center">Materia</h3>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Notas</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Programacion 1</td>
                <td>1</td>
                <td class ="p-3 d-flex justify-content-center align-items-center gap-2 ">
                    
                     <button class="btn btn-danger d-inline-block mr-1" ><i class="oi oi-trash"></i></button>
                    <button class="btn btn-primary d-inline-block" ><i class="oi oi-pencil"></i></button>
                    <NavLink class="nav-link btn btn-primary" href="Calificaciones">
                            <span class="" aria-hidden="true">Alumnos</span>
                     </NavLink>
                    
                </td>
                

            </tr>
            <tr>
                <td>Programacion 2</td>
                <td>2</td>
                <td class="p-3 d-flex justify-content-center align-items-center gap-2 ">
                    <button class="btn btn-danger d-inline-block mr-1"><i class="oi oi-trash"></i></button>
                    <button class="btn btn-primary d-inline-block"><i class="oi oi-pencil"></i></button>
                    <NavLink class="nav-link btn btn-primary" href="">
                        <span class="" aria-hidden="true">Alumnos</span>
                    </NavLink>
                </td>
                
            </tr>


        </tbody>
    </table>
</div>
@code {

}
