@page "/Materia"
<h3>Materia</h3>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Notas</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Programacion 1</td>
                <td>1</td>

            </tr>
            <tr>
                <td>Programacion 2</td>
                <td>2</td>

            </tr>


        </tbody>
    </table>
</div>
@code {

}
