@page "/Notas"


<h3>Notas</h3>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>

                <th>Condicion</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td>8.5</td>
                <td>10</td>
                <td>Promocionado</td>
                
                

            </tr>




        </tbody>
    </table>
</div>










@code {
    //??
}
