@page "/Notas"


<div class="table-container" style="overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
    <div style="border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: #f2f2f2; padding: 10px;">
        <table class="table" style="border-collapse: collapse; width: 100%; border: 2px solid #ddd;">
            <thead>
                <tr style="border-bottom: 2px solid #ddd;">
                    <th rowspan="2" style="border-right: 2px solid #ddd; border-bottom: 2px solid #ddd;">Instancia</th>
                    
                </tr>
                <tr>
                    <th style="border-right: 2px solid #ddd;">Nota</th>
                    <th style="border-right: 2px solid #ddd;">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border-right: 2px solid #ddd; border-bottom: 2px solid #ddd;">Instacia evaluativa 1</td>
                    <td style="border-right: 2px solid #ddd; border-bottom: 2px solid #ddd;">8.5</td>
                    <td style="border-bottom: 2px solid #ddd;">20/04/2024</td>
                </tr>
                <tr>
                    <td style="border-right: 2px solid #ddd; border-bottom: 2px solid #ddd;">Instacia evaluativa 2</td>
                    <td style="border-right: 2px solid #ddd; border-bottom: 2px solid #ddd;">7</td>
                    <td style="border-bottom: 2px solid #ddd;">20/05/2024</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="table-container" style="overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
    <div style="border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: #f2f2f2; padding: 10px;">
        <table class="table" style="border-collapse: collapse; width: 100%; border: 2px solid #ddd;">
            <thead>
                <tr style="border-bottom: 2px solid #ddd;">
                    <th colspan="2" style="border-right: 2px solid #ddd;">Estado de la materia</th>
                </tr>
                <tr >
                    <th style="border-right: 2px solid #ddd;">Condicion</th>
                    <th style="border-right: 2px solid #ddd;">Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border-right: 2px solid #dee2e6;">Regular</td>
                    <td>8.5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>















@code {
    //??
}
